<?xml version="1.0"?>
<!--
/**
 * RequestDesk Blog Default Configuration Values
 *
 * @category  RequestDesk
 * @package   RequestDesk_Blog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <requestdesk_blog>
            <general>
                <enabled>1</enabled>
                <blog_title>Blog</blog_title>
                <posts_per_page>10</posts_per_page>
                <enable_pagination>1</enable_pagination>
            </general>
            <api>
                <endpoint_url>https://api.requestdesk.ai</endpoint_url>
            </api>
            <seo>
                <url_prefix>blog</url_prefix>
            </seo>
        </requestdesk_blog>
    </default>
</config>
