<?xml version="1.0"?>
<!--
/**
 * RequestDesk Blog Dependency Injection Configuration
 *
 * @category  RequestDesk
 * @package   RequestDesk_Blog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Interface Preferences -->
    <preference for="RequestDesk\Blog\Api\Data\PostInterface"
                type="RequestDesk\Blog\Model\Post"/>

    <preference for="RequestDesk\Blog\Api\Data\PostSearchResultsInterface"
                type="RequestDesk\Blog\Model\PostSearchResults"/>

    <preference for="RequestDesk\Blog\Api\PostRepositoryInterface"
                type="RequestDesk\Blog\Model\PostRepository"/>

    <preference for="RequestDesk\Blog\Api\PostManagementInterface"
                type="RequestDesk\Blog\Model\PostManagement"/>

    <preference for="RequestDesk\Blog\Api\DataExportInterface"
                type="RequestDesk\Blog\Model\DataExport"/>

    <preference for="RequestDesk\Blog\Api\ExternalBlogInterface"
                type="RequestDesk\Blog\Model\ExternalBlog"/>

    <!--
        Optional Q&A integration seam. The free blog binds no-op defaults so it
        runs standalone; the paid RequestDesk Q&A bridge overrides these to attach
        the shared Q&A library to blog posts.
    -->
    <preference for="RequestDesk\Blog\Api\QaLinkResolverInterface"
                type="RequestDesk\Blog\Model\Qa\NullQaLinkResolver"/>

    <preference for="RequestDesk\Blog\Api\FaqSchemaBuilderInterface"
                type="RequestDesk\Blog\Model\Qa\NullFaqSchemaBuilder"/>

    <preference for="RequestDesk\Blog\Api\QaPairOptionsInterface"
                type="RequestDesk\Blog\Model\Qa\NullQaPairOptions"/>

    <!-- Admin Grid Data Provider -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="requestdesk_blog_post_listing_data_source" xsi:type="string">RequestDesk\Blog\Model\ResourceModel\Post\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Grid Collection Virtual Type -->
    <virtualType name="RequestDesk\Blog\Model\ResourceModel\Post\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">requestdesk_blog_post</argument>
            <argument name="resourceModel" xsi:type="string">RequestDesk\Blog\Model\ResourceModel\Post</argument>
        </arguments>
    </virtualType>

    <!-- Product Export Service -->
    <type name="RequestDesk\Blog\Service\ProductExportService">
        <arguments>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>

    <!-- Post Import Service -->
    <type name="RequestDesk\Blog\Service\PostImportService">
        <arguments>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>

    <!-- Comment Grid Data Source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="requestdesk_blog_comment_listing_data_source" xsi:type="string">RequestDesk\Blog\Model\ResourceModel\Comment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="RequestDesk\Blog\Model\ResourceModel\Comment\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">requestdesk_blog_comment</argument>
            <argument name="resourceModel" xsi:type="string">RequestDesk\Blog\Model\ResourceModel\Comment</argument>
        </arguments>
    </virtualType>

    <!-- Tag Grid Data Source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="requestdesk_blog_tag_listing_data_source" xsi:type="string">RequestDesk\Blog\Model\ResourceModel\Tag\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="RequestDesk\Blog\Model\ResourceModel\Tag\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">requestdesk_blog_tag</argument>
            <argument name="resourceModel" xsi:type="string">RequestDesk\Blog\Model\ResourceModel\Tag</argument>
        </arguments>
    </virtualType>

    <!-- Author Profile Grid Data Source (concrete class adds the admin_user join) -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="requestdesk_blog_author_listing_data_source" xsi:type="string">RequestDesk\Blog\Model\ResourceModel\AuthorProfile\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Clean up polymorphic Q&A links when a post is deleted -->
    <type name="RequestDesk\Blog\Api\PostRepositoryInterface">
        <plugin name="requestdesk_blog_post_qa_cleanup" type="RequestDesk\Blog\Plugin\PostRepositoryQaCleanup"/>
    </type>

    <!-- Console commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="requestdesk_blog_migrate_amasty" xsi:type="object">RequestDesk\Blog\Console\Command\MigrateAmastyCommand</item>
            </argument>
        </arguments>
    </type>

</config>
