<?xml version="1.0"?>
<!--
/**
 * RequestDesk Blog Admin Menu
 *
 * @category  RequestDesk
 * @package   RequestDesk_Blog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Main Menu Item under Content -->
        <add id="RequestDesk_Blog::blog"
             title="RequestDesk Blog"
             translate="title"
             module="RequestDesk_Blog"
             parent="Magento_Backend::content"
             sortOrder="60"
             resource="RequestDesk_Blog::blog"/>

        <!-- Posts Submenu -->
        <add id="RequestDesk_Blog::posts"
             title="Posts"
             translate="title"
             module="RequestDesk_Blog"
             parent="RequestDesk_Blog::blog"
             sortOrder="10"
             action="requestdesk_blog/post/index"
             resource="RequestDesk_Blog::view"/>

        <!-- Sync Products Submenu -->
        <add id="RequestDesk_Blog::sync_products"
             title="Sync Products"
             translate="title"
             module="RequestDesk_Blog"
             parent="RequestDesk_Blog::blog"
             sortOrder="20"
             action="requestdesk_blog/sync/index"
             resource="RequestDesk_Blog::sync"/>

        <!-- Import Posts Submenu -->
        <add id="RequestDesk_Blog::import_posts"
             title="Import Posts"
             translate="title"
             module="RequestDesk_Blog"
             parent="RequestDesk_Blog::blog"
             sortOrder="15"
             action="requestdesk_blog/import/index"
             resource="RequestDesk_Blog::import"/>

        <!-- Comments Submenu -->
        <add id="RequestDesk_Blog::comments_menu"
             title="Comments"
             translate="title"
             module="RequestDesk_Blog"
             parent="RequestDesk_Blog::blog"
             sortOrder="12"
             action="requestdesk_blog/comment/index"
             resource="RequestDesk_Blog::comments"/>

        <!-- Tags Submenu -->
        <add id="RequestDesk_Blog::tags_menu"
             title="Tags"
             translate="title"
             module="RequestDesk_Blog"
             parent="RequestDesk_Blog::blog"
             sortOrder="13"
             action="requestdesk_blog/tag/index"
             resource="RequestDesk_Blog::tags"/>

        <!-- Author Profiles Submenu -->
        <add id="RequestDesk_Blog::authors_menu"
             title="Authors"
             translate="title"
             module="RequestDesk_Blog"
             parent="RequestDesk_Blog::blog"
             sortOrder="14"
             action="requestdesk_blog/author/index"
             resource="RequestDesk_Blog::authors"/>
    </menu>
</config>
